
/* !--------------------Main----------------------- */

.main{
    display: flex;
    /* relativo ao tamanho da fonte - x2 */
    padding: 2em;
    /* relativo a 90% da altura do viewport  */
    height: 90vh;
    justify-content: center;
    align-items: middle;
}

.clockbox, #clock {
width: 100%;
}

/* .dot {
    height: 19px;
    width: 19px;
    border: 2px solid black;    
    background-color: rgb(194, 106, 106);
    border-radius: 50%;
    display: block;
    position: relative;
    left: 150px;
    bottom: 250px;
  }   */

  
.circle{
    fill:none;
    stroke:blue;
    stroke-width: 10;
    /* comprimento da esquadria */
    stroke-miterlimit: 10;    
}

.mid-circle{
    fill: none;    
}

/* !--------------------Marks----------------------- */

.hour-marks{
    fill: none;
    stroke: rgb(121, 121, 121);
    stroke-width: 9;
    stroke-miterlimit: 10;
}

/* !--------------------Arms----------------------- */

.hour-arm{
    fill: none;
    stroke: rgb(121, 121, 121);    
    stroke-width: 17;
    stroke-miterlimit: 10;               
}

.minute-arm{
    fill: none;
    stroke: rgb(121, 121, 121);
    stroke-width: 11;
    stroke-miterlimit: 10;          
}

.second-arm{
    fill: none;
    stroke: rgb(194, 106, 106);
    stroke-width: 4;
    stroke-miterlimit: 10;       
}

/* !--------------------Area----------------------- */

/* area do circulo e centrar os ponteiros */
.sizing-box{
    fill: none;    
}

/* rotação dos ponteiros no centro do circulo */
#hour, #minute, #second{
    transform-origin: 300px 300px;    
} 

